<div class="contenedor" *ngIf="visible">
  <div class="container-fluid content-center-right row end-xs">
      <div>
          <button pButton type="button" label="Login" class="boton-lg" routerLink="/login" (click)="ocultar();"></button>
      </div>
      <div>
          <button pButton type="button" label="Sigup" class="boton-lg" routerLink="/signup" (click)="ocultar();"></button>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col justify-text division">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ipsa sint temporibus a officiis, excepturi dolores! Tenetur id animi sapiente ducimus nemo quasi illum tempora quam. Ratione optio porro dignissimos facilis, reprehenderit earum facere obcaecati dolorum doloremque, quo officiis aut, quos impedit atque libero quibusdam commodi quae sed minus temporibus. Sequi, esse, neque ipsam tenetur cupiditate iste harum, unde laudantium pariatur ducimus aperiam libero nisi quod. Ipsam, cum animi? Quidem, error. Praesentium aperiam nostrum nulla illum placeat inventore, maiores impedit aspernatur voluptatum provident optio sit saepe officiis, cum similique. Illo unde neque quasi architecto nemo.
          </div>
          <div class="col justify-text division">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem illo est soluta porro assumenda nihil. Commodi autem voluptas nemo voluptatum asperiores totam veniam velit alias rem explicabo, consequatur distinctio nisi corporis sapiente ratione qui accusamus consequuntur. Fugit corporis cupiditate iure perferendis obcaecati, quas molestiae perspiciatis, quisquam blanditiis ad unde voluptatum omnis sed repellat doloremque nostrum. Dolorum aliquid fugit, dolor repellat illum sunt et natus tempora alias enim molestias quisquam, veniam tenetur perspiciatis consectetur ut cupiditate dicta rem. Quas fugit deleniti vel molestias ex, molestiae ullam harum explicabo est quae laborum nobis, dolore sint nostrum qui.
          </div>
      </div>
      <div class="row">
          <div class="col justify-text division">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum assumenda numquam, fugit dolore excepturi in fugiat veniam beatae vitae facilis quos, rerum quam voluptatum. Voluptatibus illum ea aliquam laboriosam animi a reiciendis, nisi dolores aut dolor voluptatum sint perferendis fugiat vel assumenda exercitationem, velit voluptatem facilis illo facere labore fuga nostrum doloribus? Amet aliquam optio necessitatibus nostrum modi itaque delectus reiciendis, numquam quia, dignissimos nesciunt nam, natus corrupti voluptates cupiditate aperiam ullam asperiores reprehenderit harum deserunt assumenda tempore rerum quo porro. Facilis, assumenda! Esse ratione veniam sapiente harum facilis magnam reprehenderit maiores laborum illo corporis.
          </div>
          <div class="col justify-text division">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, ipsa. Culpa totam ipsum eligendi, iure esse soluta ut ab eum a illo exercitationem libero quis cumque fugit autem tenetur omnis laudantium impedit sed ullam odio distinctio, consectetur eos voluptatem! Iure magnam ut molestias unde fuga, perferendis ipsam officia nisi sunt. Perferendis exercitationem enim fugiat culpa, dolorem ipsa earum molestiae? Est illum velit molestiae quidem iusto voluptatibus, magni consequuntur quaerat? Earum, impedit. Sint laboriosam explicabo cupiditate ipsam debitis esse eligendi, atque aspernatur quibusdam porro quia doloribus reprehenderit optio facilis maiores odio iure, dicta necessitatibus modi omnis.
          </div>
      </div>
  </div>
</div>