/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/flexboxgrid-6.3.1/dist/flexboxgrid.css";

*{
    margin: 0;
    padding: 0;
}

button{
    margin-top: 10px !important;
}

.content-center{
    height: 90vh;
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
}

.txt{
    width: 300px;
    height: 75px;
}

.content-center-right{
    height: 10vh;
    align-items: center;
    display: flex;
    padding-left: 2em;
}

.boton-lg {
    margin-right: 15px !important;
    font-size: 19px !important;
}

.justify-text{
    text-align: justify;
}